.app {
  width: 100%;
  text-align: center;
}

#board {
  border: solid 2px black;
  position: relative;
  margin: 0 auto;
  background-color: #000000;
  z-index: 1;
}

.point {
  position: absolute;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background-color: black;
}
