.app {
  width: 100%;
  text-align: center;
}

#board {
  border: solid 2px black;
  position: relative;
  margin: 0 auto;
  background-color: #000000;
  z-index: 1;
}

a.reset {
  display: block;
  width: 4rem;
  margin: 1rem auto;
}
