body {
  background-color: #efefef;
  position: fixed;
  height: 100%;
  width: 100%;
}

.app {
  width: 100%;
  text-align: center;
}

#board {
  border: solid 2px black;
  position: relative;
  margin: 0 auto;
  background-color: #000000;
  z-index: 1;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}

a {
  flex: 0 0 auto;
  margin: 1rem auto;
  color: blue;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  background-color: #dddddd;
}
